name: Run Scraper

on:
  schedule:
    - cron: "*/30 * * * *" # Every 30 minutes
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Ensure cache file exists
        run: |
          if [ ! -f cache_ids.txt ]; then
            echo "No cache found, creating empty file."
            touch cache_ids.txt
          fi

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        env:
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
          BASE_URL: ${{ secrets.BASE_URL }}
          URL: ${{ vars.URL }}
        run: python src/main.py

      - name: Commit and push updated cache
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add cache_ids.txt
          git commit -m "ci: update scraper cache" || echo "No changes to commit"
          git push
